{% extends 'base/base.html' %}
{% block content %}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">  INTERNAL SUSPICIOUS TRANSACTION REPORT</h3>
        <nav aria-label="breadcrumb">

        </nav>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <form class="form-sample">
                        <p class="card-description">Suspect Details </p>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label"> CIF Number</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">
                                        STR Refrence Number
                                    </label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <p class="card-description">Indicators</p>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Match with UNSC
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Match with OFAC
                                            </label>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-6 col-form-label">Match with Other Sanction List, Please specify</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-6 col-form-label">
                                                Identification and Other Verification Issues, Please specify
                                            </label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Match with PAK NACTA
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                CDD Not Verified
                                            </label>
                                        </div>




                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="card-body">
                            <p class="card-description">Action Taken</p>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Account Suspended
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Account Blocked
                                            </label>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-6 col-form-label">Other Please specify</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Funds Freeze
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Funds With held
                                            </label>
                                        </div>




                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="card-body">
                            <p class="card-description">Relationship with Bank</p>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Account Holder
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Employee
                                            </label>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-6 col-form-label">Other Please specify</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Walk in Customer
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Agent
                                            </label>
                                        </div>




                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">Business Relation with Suspect (if any)</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">


                                <div class="form-group row">
                                    <label class="col-sm-6 col-form-label">Is Relationship still Maintained with the Person?</label>

                                    <div class="col-sm-3">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                            No
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label">**In case NO, mention Date of Termination of relationship</label>
                                    <div class="col-sm-7">
                                        <input type="date" id="birthday" name="birthday">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="card-body">
                            <p class="card-description">Capacity in which the person is performing the transactions / acts</p>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Individual
                                            </label>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Company
                                            </label>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-sm-6 col-form-label">Other Please specify</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Broker
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Agent
                                            </label>
                                        </div>




                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-5 col-form-label"> Identities of other persons known to be involved in reported activity</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}